<!DOCTYPE html>
<html lang="en">
      <!-- Head / Metadata -->
      <%- include('./partials/head.ejs') %>
<body>
      <!-- Header / Navigation -->
      <%- include('./partials/nav.ejs') %> 
      <section class="member-list">
            <h2 class="page-title">All Members</h2>
            <% users.forEach((user) => {%>
                  <div class="members-name">
                        <p class="member-name"><a href="/member/<%= user._id %>"><%= user.name %></a></p>
                        <% }); %>
                  </div>
      </section>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>