<!DOCTYPE html>
<html lang="en">
      <!-- Head / Metadata -->
      <%- include('./partials/head.ejs') %>
<body>
      <!-- Header / Navigation -->
      <%- include('./partials/nav.ejs') %> 

      <p class="name">Welcome to the page of <%= name %></p>
      <section class="member-container">
<div class="memberInfo">
            <p class="m-name">Name<br>
            <span><%= name %></span></p>
      <p class="member-mail">E-mail<br>
            <span><%= mail %></span></p>
      <p class="member-phone">Phone<br>
            <span><%= phone %></p>
      <p class="member-phone">Member since<br>
            <span><%= createdAt %></span></p>
      <p class="member-secret">Secret<br>
            <span><%= secret %></span></p>
            <div class="btn-box">
                  <button class="delete member-btn" onclick="location.href= '/member/<%= id %>/delete';">Delete</button>
                  <button class="update member-btn" onclick="location.href= '/member/<%= id %>/update';">Update</button>
                  </div>
</div>
</section>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>