<!DOCTYPE html>
<html lang="en">
      <!-- Head / Metadata -->
      <%- include('./partials/head.ejs') %>
<body>
      <!-- Header / Navigation -->
      <%- include('./partials/nav.ejs') %> 

      <h2 class="update-title">Update your info below</h2>
      <form action="/member/<%= id %>/update/save" method="post" class="update-form">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%=name %>" required>
            <br>
            <label for="mail">Mail</label>
            <input type="text" name="mail" id="mail" value="<%=mail %>" required>
            <br>
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" value="<%=phone %>" required>
            <br>
            <label for="createdAt">Member since</label>
            <input type="date" name="createdAt" id="createdAt" value="<%=phone %>" required>
            <br>
            <label for="secret">Tell us your secret</label>
            <br>
            <textarea name="secret" id="secret" cols="30" rows="10" required><%=secret %></textarea>
            <button class="save-btn">Save</button>
      </form>

      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
</body>
</html>